img {
    width: 100%;
    height: auto;
    display: block;
}

.produktkort img {
    border-radius: 10px;
    transition: 0.5s;
}

.produktliste {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-inline: 1rem;
}

.produktkort {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 6;
    background-color: var(--base);
    padding: 1rem;
    border-radius: 10px;
    gap: 0.5rem;
}

.npt,
.cat,
.prevdkk,
.nowdkk,
.rabat a,
.soldout a {
    text-decoration: none;
    color: var(--accent);
    font-family: sans-serif;
}

.npt {

    font-weight: bold;
}

.cat,
.readmore {
    color: lightgray;
    font-family: sans-serif;
}

.readmore {
    align-self: end;
}

.hide {
    opacity: 0;
    cursor: default;
}

.prevdkk {
    text-decoration: line-through;
    color: lightgray;
    font-style: italic;
}

.soldout {
    color: var(--accent);
    background-color: red;
    padding: 0.5rem;
    border-radius: 10px 0 5px 0;
    position: absolute;
}

.rabat {
    color: var(--accent);
    background-color: darkslategray;
    padding: 0.5rem;
    border-radius: 10px 0 5px 0;
    position: absolute;
}

.grayscale {
    filter: grayscale(100%);
}


@media screen and (max-width: 900px) {
    .produktliste {
        grid-template: auto / repeat(2, 1fr);
    }

}